    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="pull-left">Change Password</h4>
            <div class="btn-group pull-right">
                <button class="btn btn-success btn-sm" title="Update Password" @click="updatePassword">
                    <!-- <span class="fa fa-save"></span> --> Save
                </button>
            </div>
        </div>
        <div class="panel-body addBg">
            <div class="form-group">
                <label>Current Password:</label>
                <input class="form-control" type="password" v-model="CurrentPassword" />
            </div>
            <div class="form-group">
                <label>New Password:</label>
                <input class="form-control" type="password" v-model="UserPassword" />
            </div>
            <div class="form-group">
                <label>Confirm Password:</label>
                <input class="form-control" type="password" v-model="Repassword" />
            </div>
        </div>
    </div>